header {
    justify-content: space-between;
    display: flex;
    height: 56px;
    padding: 8px;
    align-items: center;
}

#nav-left {
    display: flex;
}

#bar-button {
    border: none;
    background-color: white;
}

#search {
    display: flex;
}

#search-input {
    height: 40px;
    width: 350px;
    border: 1px solid #ccc;
}


#search-button {
    background-color: rgba (255, 255, 255, 0.98);
    height: 40px;
    width: 64px;
    border: 1px solid #ccc;
}

#voice-button {
    height: 40px;
    width: 40px;
    border: 0px;
    border-radius: 50%;
    background-color: rgb(249, 249, 249);
    margin-left: 8px;
}

#upload {
    border: none;
    background-color: white;
    margin: 0 10px;
}

#notifications {
    border: none;
    background-color: white;
    margin: 0 10px;
}

#profile {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: grey;
    color: white;
    border: none;
    margin: 0 10px;
}





