
#filter {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

#filter button {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    border: 1px solid #ccc;
    height: 32px;
    margin: 12px 6px;
    padding: 0 12px;
}