
#nav {
    width: 180px;
}

#nav button {
    background-color: transparent;
    display: flex;
    align-items: center;
    border: 0px;
    height: 36px;
    width: 160px;
    font-size: 12px;
}

#nav button i {
    padding: 20px;
}

#nav button:first-of-type {
    background-color: rgb(216, 209, 209);
    margin-top: 10px;
}

#nav button:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
#subscriptions {
text-transform: uppercase;
padding: 15px 15px;
color: grey;
font-size: 12px;
font-weight:700;
}